@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: VT323, monospace;
  --font-mono: Courier New, Courier, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: MS Serif, serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0rem;
  --background: oklch(0.9846 0.0208 91.5819);
  --foreground: oklch(0.2691 0.0090 48.3680);
  --card: oklch(0.9771 0.0311 91.6549);
  --card-foreground: oklch(0.2691 0.0090 48.3680);
  --popover: oklch(0.9846 0.0208 91.5819);
  --popover-foreground: oklch(0.2691 0.0090 48.3680);
  --primary: oklch(0.6345 0.1944 33.2067);
  --primary-foreground: oklch(0.9846 0.0208 91.5819);
  --secondary: oklch(0.6532 0.0865 195.2443);
  --secondary-foreground: oklch(0.9846 0.0208 91.5819);
  --muted: oklch(0.8961 0.0160 91.5575);
  --muted-foreground: oklch(0.5092 0.0205 48.2970);
  --accent: oklch(0.8176 0.1492 80.5860);
  --accent-foreground: oklch(0.2691 0.0090 48.3680);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.3204 0.0115 48.3425);
  --input: oklch(0.9310 0.0106 91.5065);
  --ring: oklch(0.6345 0.1944 33.2067);
  --chart-1: oklch(0.6772 0.1571 35.1898);
  --chart-2: oklch(0.6309 0.1013 183.4907);
  --chart-3: oklch(0.3787 0.0440 225.5393);
  --chart-4: oklch(0.8336 0.1186 88.1463);
  --chart-5: oklch(0.7834 0.1261 58.7491);
  --sidebar: oklch(0.9697 0.0413 91.7166);
  --sidebar-foreground: oklch(0.3204 0.0115 48.3425);
  --sidebar-primary: oklch(0.6345 0.1944 33.2067);
  --sidebar-primary-foreground: oklch(0.9846 0.0208 91.5819);
  --sidebar-accent: oklch(0.8961 0.0160 91.5575);
  --sidebar-accent-foreground: oklch(0.3204 0.0115 48.3425);
  --sidebar-border: oklch(0.8444 0.0089 48.6222);
  --sidebar-ring: oklch(0.6345 0.1944 33.2067);
  --destructive-foreground: oklch(0.9846 0.0208 91.5819);
  --font-sans: Courier New, Courier, monospace;
  --font-serif: Georgia, serif;
  --font-mono: Consolas, monospace;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0.05em;
}

.dark {
  --background: oklch(0.2067 0.0100 285.4885);
  --foreground: oklch(0.9623 0.0515 91.7652);
  --card: oklch(0.2272 0.0118 285.4252);
  --card-foreground: oklch(0.9623 0.0515 91.7652);
  --popover: oklch(0.2067 0.0100 285.4885);
  --popover-foreground: oklch(0.9623 0.0515 91.7652);
  --primary: oklch(0.8750 0.2349 151.1042);
  --primary-foreground: oklch(0.1531 0.0054 285.7444);
  --secondary: oklch(0.6317 0.2704 328.2083);
  --secondary-foreground: oklch(0.9623 0.0515 91.7652);
  --muted: oklch(0.3050 0.0182 285.2681);
  --muted-foreground: oklch(0.7167 0.0441 91.7916);
  --accent: oklch(0.9054 0.1546 194.7689);
  --accent-foreground: oklch(0.2067 0.0100 285.4885);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --border: oklch(0.8750 0.2349 151.1042);
  --input: oklch(0.2570 0.0143 285.3525);
  --ring: oklch(0.8750 0.2349 151.1042);
  --chart-1: oklch(0.8750 0.2349 151.1042);
  --chart-2: oklch(0.6317 0.2704 328.2083);
  --chart-3: oklch(0.9054 0.1546 194.7689);
  --chart-4: oklch(0.9680 0.2110 109.7692);
  --chart-5: oklch(0.7311 0.1861 52.7757);
  --sidebar: oklch(0.1857 0.0082 285.5695);
  --sidebar-foreground: oklch(0.9274 0.0994 91.7300);
  --sidebar-primary: oklch(0.8750 0.2349 151.1042);
  --sidebar-primary-foreground: oklch(0.1531 0.0054 285.7444);
  --sidebar-accent: oklch(0.3050 0.0182 285.2681);
  --sidebar-accent-foreground: oklch(0.9623 0.0515 91.7652);
  --sidebar-border: oklch(0.5980 0.1580 151.8125);
  --sidebar-ring: oklch(0.8750 0.2349 151.1042);
  --destructive-foreground: oklch(0.9623 0.0515 91.7652);
  --radius: 0rem;
  --font-sans: VT323, monospace;
  --font-serif: MS Serif, serif;
  --font-mono: Courier New, Courier, monospace;
  --shadow-color: hsl(150, 100%, 50%);
  --shadow-opacity: 0.5;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0.05em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 10px 0px hsl(150 100% 50% / 0.25);
  --shadow-xs: 0px 0px 10px 0px hsl(150 100% 50% / 0.25);
  --shadow-sm: 0px 0px 10px 0px hsl(150 100% 50% / 0.50), 0px 1px 2px -1px hsl(150 100% 50% / 0.50);
  --shadow: 0px 0px 10px 0px hsl(150 100% 50% / 0.50), 0px 1px 2px -1px hsl(150 100% 50% / 0.50);
  --shadow-md: 0px 0px 10px 0px hsl(150 100% 50% / 0.50), 0px 2px 4px -1px hsl(150 100% 50% / 0.50);
  --shadow-lg: 0px 0px 10px 0px hsl(150 100% 50% / 0.50), 0px 4px 6px -1px hsl(150 100% 50% / 0.50);
  --shadow-xl: 0px 0px 10px 0px hsl(150 100% 50% / 0.50), 0px 8px 10px -1px hsl(150 100% 50% / 0.50);
  --shadow-2xl: 0px 0px 10px 0px hsl(150 100% 50% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}